USE [DentalClinic]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[IsApproved] [bit] NULL,
	[FullName] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaBinhLuan]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaBinhLuan](
	[Id_DanhGia] [bigint] IDENTITY(1,1) NOT NULL,
	[DiemDanhGia] [float] NULL,
	[NoiDung] [ntext] NULL,
	[NgayTao] [datetime] NULL,
	[IDBACSI] [int] NULL,
 CONSTRAINT [PK_DanhGiaBinhLuan] PRIMARY KEY CLUSTERED 
(
	[Id_DanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DienDan]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DienDan](
	[Id_diendan] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NULL,
	[img] [varchar](200) NULL,
	[content] [ntext] NULL,
	[img2] [varchar](200) NULL,
	[content2] [ntext] NULL,
 CONSTRAINT [PK_DienDan] PRIMARY KEY CLUSTERED 
(
	[Id_diendan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiDichVu]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiDichVu](
	[Id_DichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](50) NULL,
	[GiaDichVu] [float] NULL,
	[MoTaDichVu] [nvarchar](500) NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[Id_DichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[ID_ThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[TenHinhThuc] [nvarchar](500) NULL,
 CONSTRAINT [PK_HinhThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[ID_ThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID_HoaDon] [nvarchar](450) NOT NULL,
	[TongTien] [decimal](18, 0) NULL,
	[Id] [nvarchar](128) NULL,
	[Id_GoiDichVu] [int] NULL,
	[ID_ThanhToan] [int] NULL,
	[TrangThai] [bit] NULL,
	[IDBACSI] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID_HoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHen]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHen](
	[IdLich] [int] IDENTITY(1,1) NOT NULL,
	[Tenkhachhang] [nvarchar](50) NULL,
	[IDBACSI] [int] NOT NULL,
	[IDDICHVU] [int] NOT NULL,
	[Sdt] [nvarchar](20) NULL,
	[Ngaydat] [date] NULL,
	[Id] [nvarchar](128) NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[IsApproved] [bit] NULL,
 CONSTRAINT [PK_LichHen] PRIMARY KEY CLUSTERED 
(
	[IdLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[IDDICHVU] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiDichVu] PRIMARY KEY CLUSTERED 
(
	[IDDICHVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSi]    Script Date: 6/7/2025 9:00:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSi](
	[IDBACSI] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[HinhAnh] [varchar](200) NULL,
	[ThongTin] [ntext] NULL,
	[UserId] [nvarchar](128) NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
 CONSTRAINT [PK_BacSi] PRIMARY KEY CLUSTERED 
(
	[IDBACSI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'NhaSi')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'BenhNhan')
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Facebook', N'194508366820655', N'84af9e3c-a0aa-4096-8de0-7125eacbd7e8')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'111109617147095771052', N'e97ddc44-d05a-4101-b44b-4230d0533f83')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4660111f-e6f8-4a4e-a968-915009e38503', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'47a64d80-29c3-435a-9793-e18127c38b45', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'9c146a2c-eb83-45b8-a75b-8813ff81a3c2', N'3')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsApproved], [FullName]) VALUES (N'47a64d80-29c3-435a-9793-e18127c38b45', N'lam@gmail.com', 0, N'ALDhgG4c8ikR8zk+BeW0hRWj0Ooskfw9XGEDZXd92DxVBdeItlBYDb3DlU9V2kTD2A==', N'73c2ce45-e0cb-4ffc-873c-cc38ae082e26', N'0123456789', 0, 0, NULL, 1, 0, N'lam@gmail.com', 1, N'Ngô Phú Lâm')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsApproved], [FullName]) VALUES (N'9c146a2c-eb83-45b8-a75b-8813ff81a3c2', N'37.vantoan@gmail.com', 0, N'AG2Uc6rswqRJ9DT8j/M2bJP4gj0R10lxH8CGoTI0Vh1pRSTcxiPDDd93naMrYt/Cww==', N'46f8a837-fb83-4b80-b07c-9b27aeaeb9a7', N'0123456789', 0, 0, NULL, 1, 0, N'37.vantoan@gmail.com', 0, N'Lê Văn Toàn')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IsApproved], [FullName]) VALUES (N'a53503c0-9ebe-4def-b912-379c0bd28006', N'levantoan251004@gmail.com', 0, N'AIwvdkQPbGxcE3gfrTwW7vA1ELrIx0+9mOzGf+LapNBmVohZi4j3lkm3/dwIBn1Ggg==', N'd5084e88-9b42-4295-bc2d-dd5843c18d4b', N'123125551', 0, 0, NULL, 1, 0, N'levantoan251004@gmail.com', 1, N'Lê Văn Toàn')
GO
SET IDENTITY_INSERT [dbo].[DanhGiaBinhLuan] ON 

INSERT [dbo].[DanhGiaBinhLuan] ([Id_DanhGia], [DiemDanhGia], [NoiDung], [NgayTao], [IDBACSI]) VALUES (19, 5, N'bác sĩ này đẹp trai tài giỏi quá', CAST(N'2025-05-14T19:07:15.000' AS DateTime), 1)
INSERT [dbo].[DanhGiaBinhLuan] ([Id_DanhGia], [DiemDanhGia], [NoiDung], [NgayTao], [IDBACSI]) VALUES (21, 5, N'tưởng anh soobin hoàng sơn chuyển qua làm nha sĩ hông á:>>>>', CAST(N'2025-05-14T20:40:25.000' AS DateTime), 4)
INSERT [dbo].[DanhGiaBinhLuan] ([Id_DanhGia], [DiemDanhGia], [NoiDung], [NgayTao], [IDBACSI]) VALUES (22, 4, N'khá nghiêm túc nhưng rất hiệu quả ạ', CAST(N'2025-05-14T20:41:11.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[DanhGiaBinhLuan] OFF
GO
SET IDENTITY_INSERT [dbo].[DienDan] ON 

SET IDENTITY_INSERT [dbo].[DienDan] OFF
GO
SET IDENTITY_INSERT [dbo].[GoiDichVu] ON 

INSERT [dbo].[GoiDichVu] ([Id_DichVu], [TenDichVu], [GiaDichVu], [MoTaDichVu]) VALUES (1, N'Nhổ răng theo năm', 5000000, N'Với gói dịch vụ nhổ răng theo năm, khách hàng có thể yên tâm về chi phí và an toàn khi sử dụng dịch vụ của chúng tôi. Khách hàng còn được hưởng gói chăm sóc sức khỏe răng miệng định kỳ miễn phí để đảm bảo sức khỏe răng miệng luôn được chăm sóc tốt.')
INSERT [dbo].[GoiDichVu] ([Id_DichVu], [TenDichVu], [GiaDichVu], [MoTaDichVu]) VALUES (2, N'Nha chu theo năm', 10000, N'Gói dịch vụ nha chu theo năm là một gói dịch vụ đáp ứng nhu cầu chăm sóc sức khỏe răng miệng định kỳ của khách hàng. Với dịch vụ này, khách hàng sẽ được tổng hợp các dịch vụ nha chu cần thiết như cạo vôi, tẩy trắng răng, tẩy nhạy răng, điều trị sâu răng, nha sứ và các dịch vụ khác.')
INSERT [dbo].[GoiDichVu] ([Id_DichVu], [TenDichVu], [GiaDichVu], [MoTaDichVu]) VALUES (3, N'Tiểu phẫu theo năm', 15000000, N'Gói dịch vụ tiểu phẩu theo năm cung cấp cho khách hàng các phương pháp tiểu phẩu hiện đại và tối ưu nhất để giải quyết các vấn đề về răng miệng. Khách hàng sẽ được thăm khám và đánh giá tình trạng răng miệng miễn phí, đồng thời có thể yên tâm về chi phí và an toàn khi sử dụng dịch vụ của chúng tôi.')
SET IDENTITY_INSERT [dbo].[GoiDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhThucThanhToan] ON 

INSERT [dbo].[HinhThucThanhToan] ([ID_ThanhToan], [TenHinhThuc]) VALUES (1, N'Trực Tiếp')
INSERT [dbo].[HinhThucThanhToan] ([ID_ThanhToan], [TenHinhThuc]) VALUES (2, N'Momo')
SET IDENTITY_INSERT [dbo].[HinhThucThanhToan] OFF
GO
INSERT [dbo].[HoaDon] ([ID_HoaDon], [TongTien], [Id], [Id_GoiDichVu], [ID_ThanhToan], [TrangThai], [IDBACSI]) VALUES (N'18200ada-8b6a-46d5-b89e-529a8513d91e', CAST(10000 AS Decimal(18, 0)), N'9c146a2c-eb83-45b8-a75b-8813ff81a3c2', 2, 2, 1, 5)
INSERT [dbo].[HoaDon] ([ID_HoaDon], [TongTien], [Id], [Id_GoiDichVu], [ID_ThanhToan], [TrangThai], [IDBACSI]) VALUES (N'684bff38-c243-4b9e-898b-90033883ac30', CAST(5000000 AS Decimal(18, 0)), N'f2d9834e-1d63-4897-9223-acb8364d461c', 1, 1, 0, 4)
INSERT [dbo].[HoaDon] ([ID_HoaDon], [TongTien], [Id], [Id_GoiDichVu], [ID_ThanhToan], [TrangThai], [IDBACSI]) VALUES (N'b19d5fb5-72d3-49a9-8c25-4d02f55e5195', CAST(4000000 AS Decimal(18, 0)), N'f2d9834e-1d63-4897-9223-acb8364d461c', 2, 1, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[LichHen] ON 

INSERT [dbo].[LichHen] ([IdLich], [Tenkhachhang], [IDBACSI], [IDDICHVU], [Sdt], [Ngaydat], [Id], [GioBatDau], [GioKetThuc], [IsApproved]) VALUES (1, N'npc1', 3, 5, N'0987654321', CAST(N'2025-05-16' AS Date), N'f2d9834e-1d63-4897-9223-acb8364d461c', CAST(N'15:00:00' AS Time), CAST(N'20:00:00' AS Time), 0)
INSERT [dbo].[LichHen] ([IdLich], [Tenkhachhang], [IDBACSI], [IDDICHVU], [Sdt], [Ngaydat], [Id], [GioBatDau], [GioKetThuc], [IsApproved]) VALUES (2, N'npc2', 1, 4, N'0777777777', CAST(N'2025-05-18' AS Date), N'f2d9834e-1d63-4897-9223-acb8364d461c', CAST(N'09:00:00' AS Time), CAST(N'15:00:00' AS Time), 0)
INSERT [dbo].[LichHen] ([IdLich], [Tenkhachhang], [IDBACSI], [IDDICHVU], [Sdt], [Ngaydat], [Id], [GioBatDau], [GioKetThuc], [IsApproved]) VALUES (4, N'toàn', 5, 5, N'1234567890', CAST(N'2025-06-10' AS Date), N'9c146a2c-eb83-45b8-a75b-8813ff81a3c2', CAST(N'15:00:00' AS Time), CAST(N'20:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[LichHen] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiDichVu] ON 

INSERT [dbo].[LoaiDichVu] ([IDDICHVU], [Ten]) VALUES (1, N'Nha Chu')
INSERT [dbo].[LoaiDichVu] ([IDDICHVU], [Ten]) VALUES (2, N'Nhổ Răng')
INSERT [dbo].[LoaiDichVu] ([IDDICHVU], [Ten]) VALUES (3, N'Tiểu Phẫu')
SET IDENTITY_INSERT [dbo].[LoaiDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaSi] ON 

SET IDENTITY_INSERT [dbo].[NhaSi] OFF
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_AspNetUsers1] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_AspNetUsers1]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_GoiDichVu] FOREIGN KEY([Id_GoiDichVu])
REFERENCES [dbo].[GoiDichVu] ([Id_DichVu])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_GoiDichVu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HinhThucThanhToan] FOREIGN KEY([ID_ThanhToan])
REFERENCES [dbo].[HinhThucThanhToan] ([ID_ThanhToan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_AspNetUsers] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_AspNetUsers]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [FK_LichHen_LoaiDichVu] FOREIGN KEY([IDDICHVU])
REFERENCES [dbo].[LoaiDichVu] ([IDDICHVU])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [FK_LichHen_LoaiDichVu]
GO
ALTER TABLE [dbo].[NhaSi]  WITH CHECK ADD  CONSTRAINT [FK_NhaSi_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[NhaSi] CHECK CONSTRAINT [FK_NhaSi_AspNetUsers]
GO
